<header>
  <div id="headerText">
    <a href="/stocks"><h1 id="logo">M I N O T A U R</h1></a>
    <div id="authButtons">
      <a id="logOut" href="/auth/logout"
        ><button class="button">Logout</button></a
      >
    </div>
  </div>
</header>
