<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <header>
      <a href="/auth/signup"><button class="button">SIGNUP</button></a>
      <a href="/auth/login"><button class="button">LOGIN</button></a>
    </header>
    <main></main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
