<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Add A New Position</h1>
    <form action="/stocks" method="POST">
      Name: <input type="text" name="name" /><br />
      Ticker Symbol: <input type="text" name="ticker" /><br />
      Price: $<input type="string" name="price" /><br />
      Quantity: <input type="number" name="stockQty" /><br />
      <input type="submit" name="" value="Submit Position" />
    </form>
    <a href="/stocks"><button>Cancel</button></a>
  </body>
</html>
