<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header' ) %>
    <main>
      <h1>Add A New Position</h1>
      <form id="newForm" action="/stocks" method="POST">
        Name: <input type="text" name="name" /><br />
        Ticker Symbol: <input type="text" name="ticker" /><br />
        Price: $<input type="string" name="price" /><br />
        Quantity: <input type="number" name="stockQty" /><br />
        <input
          id="submitButton"
          type="submit"
          name=""
          value="Submit Position"
        />
      </form>
      <a href="/stocks"><button>Cancel</button></a>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
