<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header' ) %>
    <main>
      <div id="newDiv">
        <h1 id="newTitle">Add A New Position</h1>
        <br />
        <form id="newForm" action="/stocks" method="POST">
          Name:<br />
          <input type="text" name="name" /><br /><br />
          Ticker Symbol:<br />
          <input type="text" name="ticker" /><br /><br />
          Price:<br />
          $<input type="string" name="price" /><br /><br />
          Quantity:<br />
          <input type="number" name="stockQty" /><br /><br />
          <input
            id="submitButton"
            type="submit"
            name=""
            value="Submit Position"
          />
        </form>
        <a href="/stocks"><button>Cancel</button></a>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
